body {
    font-family: Arial, Helvetica, sans-serif;
   
}

header{
    color:#ffffff;
    padding: 48px;
    background-color:#725AC1;
    margin-bottom:75px;
}

img{
    border-bottom:solid lightgray 1px; 
}

section{
    display:inline-block;
    background-color:#546859;
    padding-bottom: 50px;
    background-color:#d3d3d3;
    border:solid lightgray 1px;
    margin-right:50px;
    margin-bottom:50px;

   
}
section:hover{
    scale:125%
}
section > p {
    color:hotpink;
}
/* Your code here */