html{
      
    background-color: #003d7a;
    background-repeat: no-repeat;
    background-size:cover;
  } 

body{ 
    margin:0;
    padding: none; 
}

nav {
    display:flex; 
    justify-content: space-between;
    align-items: center;
    font-weight:400;
    font-style:normal;

    background-color:#444444;
    opacity:0.8;
    color: white;
    height:13vh;
    position:fixed;
    width:100vw;
    z-index:1000000;
}

ul{
    padding-top:5px;
    padding-bottom:5px;
    padding-right:25px;
    margin-right:10px;
    display:flex;
    flex-direction: rows;
    justify-content:center;
    align-items:center;
    list-style:none;
    text-decoration:none;
}

main{ 
    padding-top: 13vh;
    height:77vh;
    /* background-image:url('final-images/201322.webp'); */
    background-color:#4d5779;
    
    
    background-repeat: no-repeat;
    background-size:cover;
}



footer { 
color:white;
height:10vh;
}

 