body { 
    background-color: lightgray;
}

header{ 
    background-color:#b4cded;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 10vh

}

nav{ 
    display:flex;
    align-items: center; 
    justify-content: center;
    background-color: black;
}

a, a:link, a:hover, a:visited {
    color:white;
    text-decoration: none;
    padding: 20px;

}

#images{
    display: flex; 
    justify-content: space-evenly; 
    align-content: center;
    padding: 30px; 

}

footer { 
    display:flex;
    justify-content:center;
    align-content: center;
    background-color: #344966;
    color: white;
    padding: 50px 
}

